.NavWrapper {
  min-height: 900px;
  left: 0;
  position: absolute;
  overflow-y: visible;
}

.Nav {
  padding-bottom: 1200px;
  padding-top: 60px;
  margin-top: 60px;
  background: #282c37;
  list-style-type: none;
}

.Nav_listElem {
  padding-left: 25px;
  height: 40px;
  line-height: 40px;
  margin-bottom: 15px;
  padding-bottom: 5px;
}

.Nav_listElem:hover {
  background: #1f2c32;
}

.Nav__link {
  color: #485c65;
  position: relative;
}

.Nav_label {
  font-size: 14px;
  font-weight: 600;
  position: absolute;
  left: 60px;
}

.Nav__link:hover {
  color: #d8d8d8;
}
